<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
<script src="../static/js/main.js" defer></script>
<link rel="stylesheet" href="../static/css/main.css">
<title>Minecraft Sandbox</title>
</head>
<body>

    <!-- NavBar Here -->
    <nav class="ct-nav">
        <div>
            <img src="../../static/images/minecraft-logo.png" alt="Coding Drones Logo">
        </div>

        <!-- Nav Items -->
        <div class="nav-links">
            <ul id="horizontal-list">
                <a href="{{ url_for('site.home') }}" class="mc-button" onmousedown="click_sound(event)" style="margin-right: 15px;">
                    <li>Home</li>
                </a>
            
                <a href="{{ url_for('site.profile') }}" class="mc-button" onmousedown="click_sound(event)" style="margin-right: 15px;">
                    <li>Profile</li>
                </a>
                <a href="{{ url_for('site.build') }}" class="mc-button" onmousedown="click_sound(event)" style="margin-right: 15px;">
                    <li>Build</li>
                </a>
                <a href="{{ url_for('auth.logout') }}" class="mc-button" onmousedown="click_sound(event)" style="margin-right: 15px;">
                    <li>Log Out</li>
                </a>

            </ul>
        </div>
    </nav>
    <!-- End of Navbar -->



<!-- Create space for content from other html pages -->
{% block content %}

{% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>