{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Header Section -->
    <header class="row" id="header-main">
        <div class="col-10 contents-div">
            <h2>Access blocks from the Minecraft API and build to your hearts desire!</h2>
        </div>
    </header>
    <!-- End of Header -->

    <!-- Middle Section/Body -->
    <section class="row" id="section-main">
        <div class="col-10 contents-div">
            <div class="find-desc">
                <h1>Find a Block!</h1>
                <h5>Utilizing the Minecraft Data API, you can look at the values of whatever Minecraft block you want!</h5>
            </div>
            <div class="build-desc">
                <h1>Build your Collection!</h1>
                <h5>Every Block that you research will be added to your collection! You can add or remove blocks to your hearts desire</h5>
            </div>
            <div class="display-desc">
                <h1>Display Your Builds!</h1>
                <h5>You can build a project using the blocks that YOU collected! Once you do that, save your project and show it off to your friends!</h5>
            </div>
        </div>
    </section>
    <!-- End of middle section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer-main">
        <div class="col-2 col-md-2 contents-div">
            <img src="../../static/images/minecraft-logo.png" alt="footer logo" id="footer-logo">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="mc-button">Created By: <p style="font-size: 20px; padding-top: 8px;">James Stibral</p></a>
        </div>

    </footer>

</div>

{% endblock content %}


<audio src="" ></audio>